# Ignore generated tags file
tags
tags.lock
tags.temp
# Ignore generated *.pyc files
*.pyc
# Ignore VIM undo files.
*.un~
# Ignore vim file used for tracking remote file editing
vim/.netrwhist
# Ignore view-temporary file for vim
vim/view
# Ignore VIM log file.
vim/data
# Ignore VIM session files.
vim/sessions
# Ignore vim plugins installed/managed by vim-plug
vim/plugged/*
