[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "vim/bundle/vimoutliner"]
	path = vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
