[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "vim/bundle/vimoutliner"]
	path = vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
